/* Configuración estándar */
:root {
  /* Color principal del Body */
  --body-bg-color: #f7f8fc;
  /* Colores de fondo */
  --white-bg-color: #ffffff;
  --gray-bg-color: #f0f2fb;
  /* Colores de tipografias */
  --black-color: #000000;
  --light-blue: #306bf3;
  /* Padding */
  --padding-main-box: 4rem;
  --padding-main-box-responsive: 2rem;
  --padding-border-main: 1.5rem;
  --padding-border-responsive: 1rem;
  /* Otros */
  --gray-solid-color: #dae1f5;
  --hr-vertical: 4px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  /* Flex */
  display: flex;
  align-items: center;
  justify-content: center;
  /* Dimenciones */
  margin: 0;
  /* Estetica */
  background-color: var(--body-bg-color);
  /* Tiopografia */
  font-family: "Muli", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--black-color);
}

button,
input {
  font-family: inherit;
  margin: 0;
  border: none;
}

button,
input[type="submit"] {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: var(--light-blue);
}

:focus {
  outline: none;
  box-shadow: 0 0 0 2px #306bf34f;
}

.main-container input {
  font-size: 1rem;
}

.border-main {
  border-radius: 0.3rem;
  background-color: var(--gray-bg-color);
  padding: var(--padding-border-main);

  /* Arregla problema de desbordamiento de flex */
  margin: auto;
}

.main-container {
  /* Flex */
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  /* Estetica */
  border-radius: 0.2rem;
  background-color: var(--white-bg-color);
  filter: drop-shadow(0px 15px 22.5px rgba(0, 29, 147, 0.15));
}

.main-container > section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: 22rem;
  max-width: 35rem;

  padding: var(--padding-main-box);
}

.box-left {
  /* Flex */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.form-question,
.box-left input[type="submit"],
.box-left button {
  font-weight: 700;
}

.box-left button {
  /* Flex */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  /* Dimenciones */
  width: 100%;
  padding: 0.4rem 2rem 0.4rem 2rem;
  /* Estetica */
  border-radius: 0.2rem;
}

.main-container .box-left input[type="submit"] {
  background-color: #10182f;
  color: var(--white-bg-color);
}

.main-container .box-left input[type="submit"]:disabled {
  background-color: #10182fcc;
  cursor: context-menu;
}

.method-separator {
  margin: 1.5rem 0 0.5rem 0;
}

.form-question {
  display: flex;
  align-content: center;
  align-items: stretch;
  flex-direction: column;
}

.box-left .form-question button {
  border-left: none;
  border-radius: 0 5px 5px 0;
  padding: .5rem;

  flex: 0;
}

.main-container .box-left .password-type input {
  border-radius: 5px 0 0 5px;

  border-right: none;
  flex: 1;
}

.password-container > *:focus  {
  box-shadow: none;
}

.password-container > button:focus  {
  background-color: #306bf317;
}

.password-container:focus-within {
  box-shadow: 0 0 0 2px #306bf34f;
  border-radius: 5px;
}

.password-container {
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.show-password, .hide-password {
  padding: 1em;
  background-position: center;
  background-repeat: no-repeat;
}

.show-password {
  background-image: url(/img/show-password.svg);
}

.hide-password {
  background-image: url(/img/hide-password.svg);
}

.box-left input,
.box-left button {
  border: 1.5px solid var(--gray-solid-color);
  border-radius: 5px;
  background-color: var(--white-bg-color);
}
.box-left input {
  padding: 0.8rem;
}

.box-left form {
  /* Flex */
  display: flex;
  justify-content: center;
  align-items: normal;
  flex-direction: column;
  gap: 1rem;
  /* Dimenciones */
  width: 100%;
}

.form-question label {
  margin-bottom: 0.5rem;
}

.checkbox-type > a {
  float: right;
}

.checkbox-type {
  margin: 1rem 0 1rem 0;
}

.account-questions-links {
  text-align: center;
  margin: 0;
}

.hr-vertical {
  border-left: var(--hr-vertical) solid var(--gray-solid-color);
}

.main-container .box-right {
  justify-content: start;
  align-items: start;
  gap: 1rem;
  flex-basis: 22%;
}

.box-right > div {
  display: grid;
  align-items: center;
  column-gap: 1rem;
}

.box-right > div > p {
  grid-area: 2 / 2 / 3 / 3;
}

.box-right h2 {
  margin: 0;
}

@media only screen and (max-width: 844px) {
  body {
  
    background-color: var(--gray-bg-color);
  }
  .main-container > section {
    padding: var(--padding-main-box-responsive);
  }
  .hr-vertical {
    width: calc(100% - calc(var(--padding-main-box-responsive) * 2));
    height: var(--hr-vertical);
    background-color: var(--gray-solid-color);
  }
  .border-main {
    border-radius: 0.3rem;
    background-color: var(--gray-bg-color);
    padding: var(--padding-border-responsive);
  }
}
